* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f7f7;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.login {
    flex: 1;
    max-width: 700px;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.brand {
    color: #f4b400;
}

p {
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #f4b400;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;

}

button:hover {
    background-color: #e0a800;
}

a {
    color: #f4b400;
    text-decoration: none;
    font-weight: 500;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side img {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    transform: scaleX(-1); 
}